
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"), url(../../../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}


:root {
    --color-neutral-0: #000;
    --color-neutral-10: #A3E22B;
    --color-neutral-20: #fff;
    --color-neutral-30: #0D1E30;
    --color-neutral-40: #fffcd8;
    --color-neutral-50: #f0f0f0;
}

.card {
    font-family: Roboto-Regular;
    padding: 3px;
    margin: 10px;
    background-color: var(--color-neutral-50);  
    width: 150px;
    height: 210px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #22222270;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color-neutral-40);
}

.card img {
    transition: all 0.3s ease-in-out;
    width: 85px;
    height: 85px;
    padding: 2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color:  var(--color-neutral-20);
}

.card h3 {
    padding: 5px;
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
}
.card h4 {
    margin: 0px;
    font-size: 12px;
}

.socialmidia {
    margin-top: 12px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    font-size: 1.6rem;
    color: #000;
}

.footerlink {
    transition: 0.3s;
    color: #000;
}

.footerlink:hover {

    color:rgb(28, 109, 4);
}

@media screen and (max-width: 426px) {
    .card {
        margin: 1px;
    }
}